doctype html
html
  head
    title Book Catalogue
    link(rel='stylesheet', href='books.css', type='text/css')
  body
    script(type='text/javascript', language='javascript', src='SaxonceDebug/Saxonce.nocache.js')
    script(type='application/xslt+xml', language='xslt2.0', src='books.xsl', data-source='books.xml')
    h1#title Book Catalogue
    p Click the selection button next to a genre to view books for that genre.
    p Click on any column heading to sort the table.
    h2 Genres
    #genres
    h2 Books
    #books
    #sortToolTip.tooltip(style='position: fixed; visibility: hidden; left: 0px; top: 0px;')
      | Click to sort on this column
