doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title DL in JS
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css({.tmp,app}) styles/main.css

    link(rel='stylesheet', href='styles/boilerplate.css')
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='DL_libs/bootstrap/css/bootstrap.css')
    //link(rel='stylesheet', href='DL_libs/bootstrap-2.3/css/bootstrap.css')
    link(rel='stylesheet', href='styles/menu.css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/split-panel.css')
    link(rel='stylesheet', href='styles/jquery.dataTables.css')
    //link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='DL_libs/ng-grid/ng-grid.css')
    link(rel='stylesheet', href='styles/dropdown.css')
    link(rel='stylesheet', href='styles/grid.css')
    link(rel='stylesheet', href='styles/bootstrap-addons.css')

    // endbuild
    script
      window.onbeforeunload = function(){ return 'Unloading this page will cause the editor content to be lost :(' }
  body
    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //if lt IE 9
      script(src='DL_libs/es5-shim.js')
      script(src='DL_libs/json3.min.js')
    .container(ng-app='DLApp', ng-controller='DLCtrl')
      #header
        .menu.header-menu
          span.brand.menu-title DL in JS
          .menu-items
            code.menu-item coffeescript cut with markdown
        #view-menu.menu.header-menu
          span.menu-title View ▾
          button(ng-click = 'DLrun($event)') Run
          ul.menu-items
            li.menu-item(ng-repeat='col in cols', ng-class='{active_col:col.show}', ng-click='col.show=!col.show') {{col.name}}
      div(style='position: relative; height: 100%; width: 100%;')
        split-row(ng-cloak='ng-cloak', styles="styles", graph="graph", cols="cols", col='col', litcoffee="litcoffee")
              resizable-panel#md_col(name='DL Editor', graph="graph")
                .menu.panel-menu(ng-class='{show:col("DL Editor").mouseover}', col='col')
                  span.menu-title Theme ▾
                  ul.menu-items
                    li.menu-item(ng-repeat='theme in themes', ng-click='setTheme(theme)') {{theme}}
                  span.hide-button(ng-click='col("DL Editor").show=false', title='Hide DL Editor panel.') X
                div(ace-editor='ace-editor', dl-editor, mode='markdown', ng-model='litcoffee.code')
              resizable-panel#css_col(name='Output Graph', graph="graph")
                .menu.panel-menu(ng-class='{show:col("Output Graph").mouseover}', col='col')
                  span.menu-title Theme ▾
                  ul.menu-items
                      li.menu-item(ng-repeat='theme in themes', ng-click='setTheme(theme)') {{theme}}
                  span.hide-button(ng-click='col("Output Graph").show=false', title='Hide Output Graph panel.') X
                render-graph
              resizable-panel#css_col(name='Shade Editor', show='show')
                .menu.panel-menu(ng-class='{show:col("Shade Editor").mouseover}', col='col')
                  span.menu-title Theme ▾
                  ul.menu-items
                      li.menu-item(ng-repeat='theme in themes', ng-click='setTheme(theme)') {{theme}}
                  span.hide-button(ng-click='col("Shade Editor").show=false', title='Hide Shade Editor panel.') X
                div(ace-editor='ace-editor', shade-editor, mode='xml', ng-model='styles.sheets[styles.active].css')
              resizable-panel#html_col(name='Output HTML', show='show')
                .menu.panel-menu(ng-class='{show:col("Output HTML").mouseover}', col='col')
                  span.menu-title Theme
                  ul.menu-items
                      li.menu-item(ng-repeat='theme in themes.list', ng-click='themes.selected=theme', theme="theme") {{theme}}
                  span.hide-button(ng-click='col("Output HTML").show=false', title='Hide Output HTML panel.') X
                style(type='text/css', ng-bind='themes.css | scopeCSS:"#html_div"')
                #html_div(style='height: 100%;')
                  div(pretty-print-panel='styles.sheets[styles.active].css')
              resizable-panel#render_col(name='Rendered Output', show='show')
                .menu.panel-menu(ng-class='{show:col("Rendered Output").mouseover}', col="col")
                  span.menu-title Theme ▾
                  ul.menu-items
                    li.menu-item(ng-repeat='(style, props) in styles.sheets', ng-click='styles.active=style', ng-class='{active_style:styles.active==style}')
                      | {{style}}
                      ul.menu-actions
                        li.icon-trash(ng-click='!props.native && delete_style($event, style)', ng-class='{inactive:props.native}', title='Delete styles')
                        li.icon-copy(ng-click='copy_style($event, style)', title='Duplicate styles')
                        li.icon-save(ng-show='false', title='Save styles')
                    li.menu-item(ng-click='select_ext($event)', ng-class='{active_style:styles.active=="external"}')
                      label(for='external-css') External:
                      input#external-css(ng-model='styles.external', ng-keydown='keydown_input($event)', type='text', name='external-css', placeholder='http://')
                  span.hide-button(ng-click='col("Rendered Output").show=false', title='Hide Rendered Output panel.') X
                render-panel(vars="graph.variables.variables", graph="graph", styles="styles.sheets[styles.active].css")

    //
        script(src='DL_libs/jquery-2.1.0.min.js')
        script(src='DL_libs/angular.min.js')
        script(src='DL_libs/lodash.js')
        script(src='DL_libs/markdown.js')
        script(src='DL_libs/angular-resource.min.js')
        script(src='DL_libs/angular-cookies.min.js')
        script(src='DL_libs/angular-sanitize.min.js')
        script(src='DL_libs/angular-animate.min.js')
        script(src='DL_libs/google-code-prettify/src/prettify.js')
        script(src='DL_libs/ace/src-noconflict/ace.js')
        script(src='DL_libs/ace/src-noconflict/ext-language_tools.js')
        script(src='DL_libs/d3.v2.js')
        script(src='DL_libs/xml2json.min.js')
        script(src='DL_libs/markdown.min.js')
        script(src='DL_libs/ui-bootstrap-tpls-0.10.0.js')
        script(src='DL_libs/bootstrap/js/bootstrap.js')
        script(src="DL_libs/ng-grid/ng-grid-2.0.7.debug.js")
        script(src='DL_libs/jquery.dataTables.min.js')
        script(src="DL_libs/ng-popover/tooltip.js")
        script(src="DL_libs/ng-popover/popover.js")
        script(src="DL_libs/ng-popover/dimensions.js")

    //script(src='dist/libs.min.js')

    script(src='dist/js/libs.js')
    script(src='DL_libs/ace/src-noconflict/ace.js')
    script(src='DL_libs/ace/src-noconflict/ext-language_tools.js')
    //
        script(src='dist/js/graph-text-dev.js')
        script(src='dist/js/shade-compiler.js')
        script(src='dist/js/shade-module.js')
        script(src='dist/js/editor-module.js')

    //script(src='dist/script.min.js')

    script(src='dist/js/script.js')


      
