doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='')
    title Starter Template for Bootstrap

    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/mystyles.css', rel='stylesheet')
    link(rel='stylesheet', href='codemirror/lib/codemirror.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
  body
   form(name='uploadDL', id='uploadDL', action = '/sendDL', method = 'post')
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') DL in JS
        .collapse.navbar-collapse
          ul.nav.navbar-nav
              button.btn.btn-default.navbar-btn(type="submit") Run
        //
          /.nav-collapse 
    br
    .container-fluid
      .col-md-3
          textarea(name = "DLcode", id="DLcode") x=1;y=x+1;z=x+y;t=z+x;a=x+x+x;
      .col-md-9
        #tabs
          ul
            li
              a(href='#tabs-1') 1
            li
              a(href='#tabs-2') 2
            li
              a(href='#tabs-3') 3
          #tabs-1
            .canvas
              #canvas
          #tabs-2
          #tabs-3

    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='codemirror/lib/codemirror.js')
    script(src='client-src/bundle.js')
    script(src='codemirror/mode/javascript/javascript.js')
    script.
      var editor = CodeMirror.fromTextArea(document.getElementById("DLcode"), {lineNumbers: true,mode: "javascript"});
    script.
      $(function() {
        $( "#tabs" ).tabs();
      });
    script(src='/js/bootstrap.min.js')
    script(src="http://mbostock.github.com/d3/d3.js")   
    script(src='/d3graph.js')
    script.
       $(document).on('submit', 'form', function(e) {
       var form = e.currentTarget;
       $.ajax({
       url: form.action,         
       type: 'POST',                                             
       data: $(form).serialize(), 
       success: function(response) {var _Graph = new Graph(response); _Graph.evaluate(); renderGraph(_Graph);},
       error: function() {}
       });  
       e.preventDefault();
       });

      