doctype html
html
  head
    title Shade HTML example
    
    
  body(ng-app="ShadeApp" ng-controller="ShadeCtrl") 

  link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")
  script(src='DL_libs/xml2json.min.js')
  script(src='DL_libs/lodash.min.js')
  script(src='DL_libs/jquery-2.1.0.min.js')
  script(src='DL_libs/angular.min.js')
  script(src='scripts/graph/graph_bundle.js')
  script(src='scripts/shade.js')
  script(src='scripts/shadeapp-cs/controllers/ShadeCtrl.js')
 


