table,th,td {border: 1px solid black;}

.hide {
    display: none;

}

.dropdown .ngGrid {
    position:absolute;
    z-index:1;
}

.popupt {
    position:absolute;
    z-index:1;
}

.dropdown .selectedItems {
   overflow:auto;

}

/*
.class10::-webkit-input-placeholder { /* WebKit browsers
    color:    red;
} TODO: use these for placeholder colors
*/

.test1 {

    -webkit-column-span:all;
}

