.mycol {
    display:table-cell;


}

.myrow {
    display:table-row;



}

.mygrid {
    display:table;


}

.hide {
    display: none;

}

.dropdown .ngGrid {
    position:absolute;
    z-index:1;
}

.popupt {
    position:absolute;
    z-index:1;
}

.dropdown .selectedItems {
   overflow:auto;

}