/*table,th,td {border: 1px solid black;}*/

.hide {
    display: none;

}

.dropdown .ngGrid {
    position:absolute;
    z-index:1;
}

.popupt {
    position:absolute;
    z-index:1;
}



.dropdown .selectedItems {
   top: 3px;
   left:4px;
   overflow:hidden;
   cursor:pointer;
   position:absolute;
}

.dropdown{
    min-width: 50px;
    width: 250px;
}

.dropdown .glyphicon {
   float:right;
   right: 5px;
   top: 5px;
   width: 10px;
}

.dropdown .selected {
    height: 100%;
    border:solid;
    border-width: 1px;
}

/*
.class10::-webkit-input-placeholder { /* WebKit browsers
    color:    red;
} TODO: use these for placeholder colors
*/

.test1 {

    -webkit-column-span:all;
}

